.slider {
  -webkit-appearance: none;
  height: 6px;
  border-radius: 3px;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgb(0,128,128);
  cursor: pointer;
}
