html {
  margin: 0;
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}


.App {
  text-align: center;
}

li {
  font-size: 18px;
  border-bottom: solid 1px white;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 20px;
  padding: 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "\2022";
  color: rgb(2, 223, 204);
  font-weight: bold;
  font-size: x-large;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}